body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #01b4ee,#28348a);
}
form {
    width: 400px;
}
 .form-group {
    margin-bottom: 15px;
}

label {
    text-shadow:
      1px 1px 1px silver,
      -1px 1px 1px silver;
    color: white;
    transition: all .5s;
}
